
    <div>
      <div class="col-12">
        <button class="button" id="start">start</button>
        <button class="button" id="pause">pause</button>
        <button class="button" id="reset">reset board</button>
        <button class="button" id="start-random">start random</button>
        <input type="button" class="button" id="speed-label" style="width:180; text-align:left" value="" disabled>
        <input type="range" id="speed-slider" style="width:180" min="0" max="1000"/>
        <input type="button" class="button" id="gen-counter" style="width:180; text-align:left" value="Generation: 0" disabled>
      </div>
    </div>
    
    <canvas id="gamefield" width="250" height="450"></canvas>