
    <div class="controlpanel">
      <div>
        
      </div>
        <table class="controls" cellspacing="0">
          <tr><td><h5>Conwaylife Controls</h5>
          <tr><td><button class="control" id="drawtoggle">toggle draw mode (l-ctrl)</button>
          <tr><td><button class="control" id="start">start / pause</button>
          <tr><td><button class="control" id="reset">reset board</button>
          <tr><td><button class="control" id="start-random">start random</button>
          <tr><td><input type="button" class="control" id="speed-label" value="">
          <tr><td><input type="range" class="control" id="speed-slider" min="0" max="1000"/>
          <tr><td><input type="button" class="control" id="gen-counter" value="Generation: 0">
        </table>
    </div>